<div class="container-fluid">
  <p id="notice"><%= notice %></p>
    <div class="row">
      <div class="full-article col-xs-12 col-sm-12">
        <h2>
          <%= @post.title %>
        </h2>

        <p>
          <%= @post.body %>
        </p>

        <p id="full-display-image">
          <%= image_tag(@post.image_url, class: "image-responsive") %>
        </p>
    </div><!--/full-article-->
  </div><!--row-->
</div><!--container-fluid-->

<%= link_to 'Back', root_path %>
<!-- <%= link_to 'New Comment', new_comment_path %> -->
